header{
    background-color: rgb(236, 106, 46);
    display: flex;
    justify-content: space-between;
    font-size: large;
    color: whitesmoke;
    align-items: center;
}
nav{
    float: right;
    margin: 10px;
    margin-right: 20px;
}
.navButton{
    margin: 10px;
    background-color: rgb(236, 106, 46);
    border: none;
    font-size: large;
    color: whitesmoke;
}
h2{
    margin: 10px;
    margin-left: 50px;
}